api.challengegoal.app {
	encode zstd gzip
	reverse_proxy api:4000
}

challengegoal.app {
	encode zstd gzip
	root * /srv/site
	try_files {path} {path}.html {path}/index.html
	file_server
}

www.challengegoal.app {
	redir https://challengegoal.app{uri} permanent
}
